body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('background.jpg');
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
}

.left{
    /* border: 2px solid red; */
display: inline-block;
position: absolute;
left: 21px;
top: 36px;
}


.mid{
    /* border: 2px solid green; */
    display: block;
    width: 47%;
    margin: 24px auto;

}
.right{
    /* border: 2px solid orange; */
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 40px;
}

.navbar{
    display: inline-block;
    font-size: 25px;
    
}
.navbar li{
    display: inline-block;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 20px;
 
}

.navbar li a:hover, .navbar li a.active{
    color: grey;
    text-decoration: underline;
    padding: 34px 23px;
}

.left img{
    color: white;
    width: 50px;
    display: block;
    margin: 0px auto;
    filter: invert(100%)
}
.element{
    font-size: 17px;
    line-height: 20px;

}

.btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;

}

.btn:hover{
    background-color: rgb(224, 217, 217);
    color: black;

}

.container{
    border: 2px solid white;
    border-radius: 16px;
    width: 43%;
    margin: 139px 67px;
}

.form-group input{
    width: 47%;
    display: block;
    margin: 3px auto;
    padding: 6px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}

.container h1{
    text-align: center;
}

.container button{
    display: block;
    margin: 12px auto;
    margin-bottom: 22px;

    width: 56%;
    padding: 1px 0px;
    font-size: 32px;

}


